

h1{
  font-weight: 6000;
  font-style: initial;
  color: #DD0031;
  margin-left: 5.7%;
}
h3{
  font-weight: 600;
  font-style: initial;
  letter-spacing: 0.15em;
  color: #eca8a8;
  margin-left: 1%;
}
.formHome{
  padding: 3rem;
  margin-top: 7.5rem;
  margin-left: 40%;
}
.formHome button{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: 2px solid #DD0031;
  font-size: 0.875rem;
  color: #DD0031;
  font-weight: bold;
  background-color: #ffffff;
  width: 25%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}
.formHome button:hover{
  background-color: #DD0031;
  color:#ffffff;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}
